body {
	background-color: white;
	font-size: 45px;


}

#game {
	background-color: blue;
	color: black;
	border: solid;
	border-style: inset;
	border-color: black;
	width:  70%;
	position: relative;
	left: 280px;
	top: 150px;
}